.mh-50 img {
  max-height: 30px;
  transition: 900ms all;
  transform: scale(1);
  filter: grayscale(1);
}

.mh-50 img:hover {
  transition: 900ms all;
  transform: scale(1.05);
  filter: none;
}

footer a {
  color: #fff;
  text-decoration: underline;
}

footer a:hover {
  color: #fff;
  text-decoration: underline;
}

header.main-header {
  background: url("/images/entry.jpg") no-repeat fixed center;
  background-color: #000000dd;
  background-blend-mode: multiply;
  /* background-clip: unset; */
  background-size: cover;
  /*background-position-y: -37vh;*/
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

ul.thumbs {
  list-style-type: none;
}

ul.thumbs > li {
  display: inline-block;
  padding: 11px 5px 0;
}

.indent-125 {
  text-indent: 1.25em;
}

#mapid {
  min-height: 180px;
  height: 40vh;
}

.slides .thumbs img:hover {
  cursor: pointer;
}

